h2 {
    color: #2c3e50;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin-top: 2rem;
}


section > nav {
    background-color: skyblue;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #2980b9;
    text-decoration: none;
    font-weight: bold;
    a {
        text-decoration: none;
    }
    ul {
        display: flex;
        justify-content: center;
        align-items: baseline;
        gap: 20px;
        list-style: none;
        li {
            padding: 2px;
        }
    }
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
