body {
    font-family: Arial, sans-serif;
    background-color: #fff0f5;

    color: #333;
    margin: 0;
    padding: 0;

}
main {
    padding: 20px;
    
}
h1, h2, h3 {
    color: #35424a;
    font-family: "Imperial Script", cursive;
}   
h3 {
    margin-top: 30px;
    font-size: 3rem;
}
.media {
    display: flex;
    flex-direction: row;
    align-items: initial;
    gap: 15px;
    margin-bottom: 20px;
}
.delius-regular {
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}

.imperial-script-regular {
  font-family: "Imperial Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding: 10px;
    background-color: #ff69b4;
    padding: 10px;
    text-align: center;
}
li {
    margin: 0 15px;
    font-family: "Delius", cursive;
   
}
